<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.genecash.garagedoor"
    android:versionCode="1390640326"
    android:versionName="25-JAN-2014 03:58:46 AM">
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <application android:allowBackup="false">
        <activity
            android:name="GarageStatus"
            android:label="Garage Status"
            android:icon="@drawable/status_app"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="GarageSettings"
            android:label="Garage Settings"
            android:icon="@drawable/settings_app"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="GarageDoor"
            android:label="Garage Door"
            android:icon="@drawable/toggle_app"
            android:theme="@android:style/Theme.NoDisplay"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="GarageAway"
            android:label="Garage Away"
            android:icon="@drawable/close_app"
            android:theme="@android:style/Theme.NoDisplay"
            android:launchMode="singleInstance">
            <intent-filter android:path="foo">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="GarageDoorService"
            android:exported="false" />
    </application>
</manifest>