<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.genecash.garagedoor"
    android:versionCode="1390024991"
    android:versionName="18-JAN-2014 01:03:11 AM">
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <application
        android:allowBackup="false"
        android:label="Garage Door">
        <activity
            android:icon="@drawable/status_app"
            android:name="GarageStatus"
            android:label="Garage Status">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="GarageAway"
            android:icon="@drawable/close_app"
            android:label="Garage Away"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name="Settings"
            android:label="Garage Door Settings"
            android:icon="@drawable/settings_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="GarageDoor"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="Garage Door"
            android:icon="@drawable/toggle_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service
            android:name="GarageDoorService"
            android:exported="false" />
        
    </application>
</manifest>